
.container-sobre {
    margin: 20px auto;
    padding: 30px; 
    border-radius: 12px;  
    width: 80%;
    min-height: 300px;    
}

.container-sobre h1 {
    font-size: 7vh;
    color: #3B3C9A;
    text-align: center;
}

.container-sobre p {
    color:#666;
    text-align: justify;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fotos img {
    margin: 0px 20px 40px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.559);
}

